<div ng-controller="addController">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Add A Workout!</div>
            <div class="panel-body">
              <form name="workoutAdd">
                <div class="form-group">
                  <label for="name">Name of Workout:</label>
                    <input name="name" type="text" class="form-control" ng-model="name" required>
                </div>
                <label class="mr-sm-2" for="id">Type: </label>
                <select name="id" class="custom-select mb-2 mr-sm-2 mb-sm-0 stretch-form" ng-model="id" required>
                  <option value="0">Strength</option>
                  <option value="1">Aerobic</option>
                  <option value="2">Flexibility</option>
                </select>
                <div class="form-group">
                  <label for="description">Description of Workout:</label>
                  <input name="description" type="text" class="form-control" ng-model="description" required>
                </div>
                <div class="form-group">
                  <label for="img">Image: </label>
                  <input name="img" type="text" class="form-control" ng-model="img" required>
                </div>
                <label class="mr-sm-2" for="duration">Duration: </label>
                <select name="duration" class="custom-select mb-2 mr-sm-2 mb-sm-0 stretch-form" ng-model="duration" required>
                  <option value="0 - 30 minutes">0 - 30 minutes</option>
                  <option value="30 - 60 minutes">30 - 60 minutes</option>
                  <option value="> 60 minutes">> 60 minutes</option>
                </select>
                <label class="mr-sm-2" for="intensity">Intensity: </label>
                <select name="intensity" class="custom-select mb-2 mr-sm-2 mb-sm-0 stretch-form" ng-model="intensity" required>
                  <option value="Easy">Easy</option>
                  <option value="Medium">Medium</option>
                  <option value="Hard">Hard</option>
                </select>
                <div class="form-group">
                  <label for="longdesc">Workout: </label>
                  <textarea name="longdesc" class="form-control" rows="5" ng-model="longdesc"></textarea required>
                </div>
                <button type="submit" ng-disabled="workoutAdd.name.$invalid || workoutAdd.id.$invalid || workoutAdd.description.$invalid
                    || workoutAdd.img.$invalid || workoutAdd.duration.$invalid || workoutAdd.intensity.$invalid || workAdd.longdesc.$pristine"
                    ng-click="submit()" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
