<div ng-controller="browseController">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">{{type}} Workouts</div>
            <div class="panel-body">
              <div ng-repeat="wO in wOs" class="media">
                <a class="pull-left" href="/workout/{{wO.id}}">
                  <img class="media-object img-thumbnail main-img" src="{{wO.img}}" alt="{{wO.name}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{wO.name}}</h4>
                  <span class="label label-default">{{wO.intensity}}</span>
                  <span class="label label-default">{{wO.duration}}</span>
                  <br>
                  <p>{{wO.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
