<div ng-controller="homeController">
  <header>
    <div class="jumbotron">
      <div class="container jumb">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">Workout of the Day! December 5th, 2017</div>
              <div class="panel-body">
                <div class="media">
                  <a class="pull-left" href="/workout/{{wOD.id}}">
                    <img class="media-object img-thumbnail of-day-img" src="{{wOD.img}}" alt="{{wOD.name}}">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">{{wOD.name}}</h4>
                    <span class="label label-default">{{wOD.intensity}}</span>
                    <span class="label label-default">{{wOD.duration}}</span>
                    <br>
                    <p>{{wOD.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main role="main" class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">Strength Workouts</div>
            <div class="panel-body">
              <div ng-repeat="sWO in sWOs" class="media">
                <a class="pull-left" href="/workout/{{sWO.id}}">
                  <img class="media-object img-thumbnail main-img" src="{{sWO.img}}" alt="{{sWO.name}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{sWO.name}}</h4>
                  <span class="label label-default">{{sWO.intensity}}</span>
                  <span class="label label-default">{{sWO.duration}}</span>
                  <br>
                  <p>{{sWO.description}}</p>
                </div>
              </div>
              <br>
              <a href="/browse/0" class="btn btn-default see-more" role="button">See More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 home-workout-containers">
          <div class="panel panel-default">
            <div class="panel-heading">Aerobic Workouts</div>
            <div class="panel-body">
              <div ng-repeat="aWO in aWOs" class="media">
                <a class="pull-left" href="/workout/{{aWO.id}}">
                  <img class="media-object img-thumbnail main-img" src="{{aWO.img}}" alt="{{aWO.name}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{aWO.name}}</h4>
                  <span class="label label-default">{{aWO.intensity}}</span>
                  <span class="label label-default">{{aWO.duration}}</span>
                  <br>
                  <p>{{aWO.description}}</p>
                </div>
              </div>
              <br>
              <a href="/browse/1" class="btn btn-default see-more" role="button">See More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 home-workout-containers">
          <div class="panel panel-default">
            <div class="panel-heading">Flexibility Workouts</div>
            <div class="panel-body">
              <div ng-repeat="fWO in fWOs" class="media">
                <a class="pull-left" href="/workout/{{fWO.id}}">
                  <img class="media-object img-thumbnail main-img" src="{{fWO.img}}" alt="{{fWO.name}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{fWO.name}}</h4>
                  <span class="label label-default">{{fWO.intensity}}</span>
                  <span class="label label-default">{{fWO.duration}}</span>
                  <br>
                  <p>{{fWO.description}}</p>
                </div>
              </div>
              <br>
              <a href="/browse/2" class="btn btn-default see-more" role="button">See More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
