<div ng-controller="workoutDetailController">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">{{wO.name}}</div>
            <div class="panel-body">
              <div class="media">
                <a class="pull-left" href="/workout/{{wO.id}}">
                  <img class="media-object img-thumbnail main-img" src="{{wO.img}}" alt="{{wO.name}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{wO.description}}</h4>
                  <span class="label label-default">{{wO.intensity}}</span>
                  <span class="label label-default">{{wO.duration}}</span>
                  <br>
                  <p>{{wO.longdesc}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
